<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Ebay">
    <classes>
      <class name="com.testcases.Scenario1"/>
      <class name="com.testcases.Scenario2"/>
    </classes>
  </test> <!-- Ebay -->
</suite> <!-- Suite -->
